/* Modify this file to add your own custom styles */

/* Center navigation in header */
header nav {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    background: inherit;
}
